.Board ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Board li {
    display: inline-block;
    margin: 20px;
}

.Board a {
    text-decoration: none;
    color: black;
}

.Board a:hover,
.Board a:active,
.Board a.active {
    color: #fa923f;
}