.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.Cockpit button {
    background-color: blue;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.Cockpit button:hover {
    background-color: lightblue;
    color: black;
}

.Cockpit button.Red {
    background-color: red;
}

.Cockpit button.Red:hoover {
    background-color: lightcoral;
}