.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.Button {
  background-color: blue;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Button:hover {
  background-color: lightblue;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hoover {
  background-color: lightcoral;
}